.extend-tools
    position fixed
    bottom 50px
    right 15px
    li
        padding 20px
        cursor pointer
        @extend .transition
        background-color #E1FFFF
        font-size 20px
        position relative
        &:hover
            background-color #FFF0F5
            color $textColor