// common style
//$bodyBgColor = #242424
//$bodyBgColor = #E6E6FA
// $themeColor = #fb6510
$themeColor = rgb(50, 50, 50)
$shadowColor = #333333
$borderColor = #404040
$commonMargin = 40px
$siteTitleSize = 38px

// nav style
$navBgColor = #3a3f51
$navLinkScolor = #00FFFF
$navTextColor = #a0a0a0

// article content style
$articleAreaColor = #F0F8FF
$articleAreaBlockColor = #FFFAFA
$textColor = #536269
$textColorDes = #9c9c9c 
$textSize = 15px

// other pages style
$columnTitleSize = 20px // 栏目标题字号


